<br />
<div class="container">
  <% include ./partials/messages %> <% if (!user) { %>
  <h1>Welcome, please login to see homeworks</h1>
  <% } else { %>
  <h1>Welcome, <%- user.name %>, please go to the dashboard</h1>
  <% } %>
</div>
