<div class="container">
  <% include ./partials/messages %>
  <form action="/users/register" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="name"
        id="name"
        name="name"
        class="form-control"
        placeholder="Enter name"
        value="<%= typeof name != 'undefined' ? name : '' %>"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter email"
        value="<%= typeof email != 'undefined' ? email : '' %>"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Create password"
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input
        type="password"
        id="password2"
        name="password2"
        class="form-control"
        placeholder="Confirm Password"
        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      />
    </div>
    <label>Are you a teacher or a student?</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="userType"
        id="exampleRadios1"
        value="student"
        checked
      />
      <label class="form-check-label" for="exampleRadios1">
        Student
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="userType"
        id="exampleRadios2"
        value="teacher"
      />
      <label class="form-check-label" for="exampleRadios2">
        Teacher
      </label>
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      Register
    </button>
  </form>
  <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
</div>
