<div class="container">
  <br />
  <div class="row">
    <a class="btn btn-primary" href="/teacher/createHomework"
      >Create a homework</a
    >
  </div>
  <br />
  <div class="row">
    <% for (homework of homeworks) { %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%- homework.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%- homework.subtitle %></h6>
        <a href="/teacher/homework/<%- homework.id %>" class="card-link"
          >Open</a
        >
      </div>
    </div>
    <% } %>
  </div>
</div>
