<link
  href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.1/css/tabulator_midnight.min.css"
  rel="stylesheet"
/>
<script
  type="text/javascript"
  src="https://unpkg.com/tabulator-tables@4.4.1/dist/js/tabulator.min.js"
></script>
<div class="container">
  <h1><%- homeworks.name %></h1>
  <h2><%- homeworks.subtitle %></h2>
  <p><%- homeworks.description %></p>
  <div id="submissions"></div>
  <% var data = homeworks %>
  <script>
    var table = new Tabulator("#submissions", {
      index: "id",
      height: 205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
      data: <%- JSON.stringify(submissions) %>, //assign data to table
      layout: "fitColumns", //fit columns to width of table (optional)
      columns: [
        //Define Table Columns
        { title: "Student name", field: "name", width: 150 },
        {
          title: "File",
          field: "fileName",
          formatter: "link",
          formatterParams: {
            urlField: "id",
            urlPrefix: "/teacher/homework/downloads/",
          }
        },
        { title: "Review", field: "review", editor: true },
        {
          title: "Grade 1-10",
          validator: ["min:0", "max:10", "integer"],
          field: "grade",
          editor: true
        }
      ],
      // Callback for when the cell is edited
      cellEdited: cell => {
        // POST request
        fetch("/teacher/homework", {
          method: "POST",
          credentials: "include",
          headers: {
            "Content-Type": "application/json"
          },
          // Need to stringify to torn JSON object to string so that webserver could read it
          // Together send which field is being updated, what value it has and which submission should be updated
          body: JSON.stringify({
            updatedField: cell.getField(),
            value: cell.getValue(),
            id: cell.getRow().getIndex()
          })
        });
      }
    });
  </script>
</div>
